# A collection of matcher snippets for the Shoulda Matchers gem
# @see https://github.com/thoughtbot/shoulda-matchers

priority 1

snippet pa "Should permit actions" b
it { is_expected.to permit_actions(${1:%i[${2:action}]}) }
endsnippet

snippet fa "Should forbid actions" b
it { is_expected.to forbid_actions(${1:%i[${2:action}]}) }
endsnippet
