snippet cdoc "create a YARD class documentation block" b
# ${1:Class description}
endsnippet

snippet ddoc "create a YARD method documentation block" b
# ${1:Function description}
#
# @return ${7:[String] an output string}
endsnippet
