snippet frozen "create a frozen_string_literal comment" b
# frozen_string_literal: true


endsnippet

snippet def "function definition block" b
def ${1:function_name}
	${0:body}
end
endsnippet

snippet case "Case statement" b
case ${1:variable}
when ${2:condition}
$0
end
endsnippet
