<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>BD87ECAB-8A8E-42C6-AFAF-87FA90EF7A46</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>108E827D-45C6-4B57-B6FC-C3515C9884C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Stephen Dolan</string>
	<key>description</key>
	<string>Generate Shopify Discount Codes</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Discount Code Generator</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>swag</string>
				<key>subtext</key>
				<string>Generate a Shopify discount code for free Tuple gear.</string>
				<key>text</key>
				<string>Generate a Tuple store discount code</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BD87ECAB-8A8E-42C6-AFAF-87FA90EF7A46</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://tuple-hardware.myshopify.com/admin/discounts/new</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>108E827D-45C6-4B57-B6FC-C3515C9884C9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>108E827D-45C6-4B57-B6FC-C3515C9884C9</key>
		<dict>
			<key>xpos</key>
			<integer>295</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>BD87ECAB-8A8E-42C6-AFAF-87FA90EF7A46</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
