<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.stephendcodes.alfred</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>6A597D7C-18D2-438C-BF5B-DA1FD1E0EB8C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D53469D3-37E8-46FE-B497-545BC72FBF41</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C27478D4-4573-42DA-BE4B-8B9F6694967C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D53469D3-37E8-46FE-B497-545BC72FBF41</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D53469D3-37E8-46FE-B497-545BC72FBF41</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>490F76A1-55EF-4278-9A4E-6F47D1188617</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A30FDBE0-FA6D-4437-BECB-7D8AFB72103B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1BDC2078-0B07-43AD-A097-31AC136013EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>6D0B6967-5AAA-46B5-AEDC-289F4BD685B2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C0585E68-D1E8-4004-A87D-5FBDE22A9D85</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Stephen Dolan</string>
	<key>description</key>
	<string>Request time with SavvyCal</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>SavvyCal</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://savvycal.com/ben-orenstein/dolan</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>490F76A1-55EF-4278-9A4E-6F47D1188617</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>savvy</string>
				<key>subtext</key>
				<string>Schedule time</string>
				<key>text</key>
				<string>SavvyCal</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C27478D4-4573-42DA-BE4B-8B9F6694967C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://savvycal.com/tuple/joel</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1BDC2078-0B07-43AD-A097-31AC136013EB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>ben</string>
						<key>outputlabel</key>
						<string>Ben</string>
						<key>uid</key>
						<string>A30FDBE0-FA6D-4437-BECB-7D8AFB72103B</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>joel</string>
						<key>outputlabel</key>
						<string>Joel</string>
						<key>uid</key>
						<string>6D0B6967-5AAA-46B5-AEDC-289F4BD685B2</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Me</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>D53469D3-37E8-46FE-B497-545BC72FBF41</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>sav</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>SavvyCal</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6A597D7C-18D2-438C-BF5B-DA1FD1E0EB8C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://savvycal.com</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C0585E68-D1E8-4004-A87D-5FBDE22A9D85</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1BDC2078-0B07-43AD-A097-31AC136013EB</key>
		<dict>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>490F76A1-55EF-4278-9A4E-6F47D1188617</key>
		<dict>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>6A597D7C-18D2-438C-BF5B-DA1FD1E0EB8C</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>C0585E68-D1E8-4004-A87D-5FBDE22A9D85</key>
		<dict>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>C27478D4-4573-42DA-BE4B-8B9F6694967C</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>D53469D3-37E8-46FE-B497-545BC72FBF41</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://stephencodes.com</string>
</dict>
</plist>
