extends javascript

# Use these before any extended snippets
priority 1

snippet methods "Vue Component methods block" b
methods: {
	${1:functionName}() {
		${0}
	},
},
endsnippet

snippet component "Vue Component file" b
<template>
	${0}
</template>

<script>
export default {
	name: '${1:your-vue-component-name}',
	data() {
		return {
		};
	},
}
</script>

<style scoped lang="scss">
</style>
endsnippet
